<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head.ejs') %>
    <title>Bootstrap Demo</title>
</head>
<body>
     <%- include('./partials/nav.ejs') %>
     <%- include('./partials/scripts.ejs') %>
     <% if (user) { %>
      Welcome <%= user.userName %>
     <% } %>
</body>
</html>
